body {
    background: rgb(146, 146, 146);
}
.Header {
    padding-left: 10px;
    color: aliceblue;
    text-shadow: 1px 1px 10px black, 0 0 1em black;
}
.monitor {
    padding: 20px 0px;
}
.margin {
    margin: 0px 10px;
}
