@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Добавление награды пользователю";
}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="post" action="~/index.cshtml">
            <label class="margin" for="inputDate">Добавить пользователю награду: </label>
            <input class="form-control mr-sm-2" type="text" placeholder="ID пользователя" aria-label="Search" name="IdUser">
            <input class="form-control mr-sm-2" type="text" placeholder="ID награды" aria-label="Search" name="IdAdward">
            <button class="btn btn-primary margin">Добавить</button>
        </form>
    </nav>