@using Epam.ListUsers.WebUI;
@using Epam.ListUsers.Entities;
@{
    var WebUI = new WebUI();
    Adward[] AllAdwards = WebUI.GetListAdwards();
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Все награды";
}
@foreach (Adward item in AllAdwards)
{
    <div id="my-alert" class="alert alert-light alert-dismissible fade show" role="alert">
        @item.Title (id: @item.Id)
    </div>
}
