@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Удаление пользователя";
}
<div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="post" action="~/index.cshtml">
            <label class="margin" for="inputDate">Удалить пользователя: </label>
            <input class="form-control mr-sm-2" type="text" placeholder="Id пользователя" aria-label="Search" name="RemoveID">
            <button class="btn btn-primary margin">Удалить</button>
        </form>
    </nav>
</div>